@import "fonts.css";

#navbar{
    font-family: CaviarDreams_BOLD;
    letter-spacing: 1px;
   }


ul.navbar-nav a{
    font-size: 15px;
    display: block;
}
ul.navbar-nav a:hover{
    background-color: gray;
    color: aqua;
    border-radius: 3px;
    transition: all .1s ease;
}