@import "fonts.css";

#cards {
    margin: 0 auto;
    padding: 0vh;
    padding-top: 5vh;
    
}

#embedded {
    margin: 0% auto;
    padding-right: 1vh;
}

h4{
    font-family: Greyscale_Basic_Bold;
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p{
    font-family: MavenPro-Regular;
    font-size: 15px;
}

#fund{
    font-family: Greyscale_Basic_Bold;
    letter-spacing: 1px;
}